{% extends "layout.html" %}

{% block content %}
<header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
          <h1 class="text-uppercase text-white font-weight-bold">{{title}}</h1>
          <hr class="divider my-4">
        </div>
        <div class="col-lg-8 align-self-baseline">
          <p class="text-white-75 font-weight-light mb-5">Seja muito bem vindo(a) ao nosso belo sistema de cadastro, espero que tenha uma experiência incrível 
            ao navegar por nossa bela plataforma.</p>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="https://github.com/henrymartinsb/sistema-cadastro" target="_blank">Ver repositório do Projeto</a>
        </div>
      </div>
    </div>
</header>
{% endblock %}